### Transform addresses data
1. Create one record for each customer with 2 sets if address columns , 1 for shipping and other for billing address.
2. Write transformed data to silver schema

In [0]:
select * from gizmobox.bronze.v_addresses

### Create one record for each customer with 2 sets if address columns , 1 for shipping and other for billing address.
using PIVOT

In [0]:
select * from 
(select customer_id, address_type, address_line_1,city,state, postcode
from gizmobox.bronze.v_addresses)
PIVOT(max(address_line_1) as address_line_1,
max(city) as city,
max(state) as state,
max(postcode) as postcode
FOR address_type IN ('shipping','billing'));

### Write transformed data to silver schema

In [0]:
CREATE OR REPLACE TABLE gizmobox.silver.addresses AS
select * from 
(select customer_id, address_type, address_line_1,city,state, postcode
from gizmobox.bronze.v_addresses)
PIVOT(max(address_line_1) as address_line_1,
max(city) as city,
max(state) as state,
max(postcode) as postcode
FOR address_type IN ('shipping','billing'));

In [0]:
select * from gizmobox.silver.addresses